<!-- <div class="confirmation-box col-md-4">
      <h4>$<%= @studio.price %></h4>
      <p>per hour</p><br>

      <%= simple_form_for [@studio, @booking] do |f| %>
        <%= f.input :time_in %>
        <%= f.input :time_out %>
        <%= f.input :booked %>


        <h5>Subtotal: <strong><%= @studio.price %>€</strong></h5><br>

        <%= f.submit "Request to book", class: "btn btn-danger form-control" %>
        <br><br>
      <% end %>
    </div>
</div>
 -->
