<div class="container">
  <div class="show-card m-5">
    <% @bookings.each do |booking| %>
      <h2> Booking number: <%=@booking.id%> </h2>
        <ul>
          <li> Total cost: <%=@booking.value %>Euros</li>
          <li> Booking start time: <%=@booking.time_in %></li>
          <li> Booking end time: <%= @booking.time_out %></li>
          <li> Studio: <%=@booking.studio.title %></li>
        </ul>
      <% end %>
  </div>
</div>


<!--  @bookings each do |booking| -->
