<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "", class: "navbar-brand" do %>
    <%= image_tag "StudioLive-logo-black.png", class: "logofeatures" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <nav class="navbar navbar-light bg-white">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Enter a city" aria-label="Search">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<%= link_to new_studio_path do %>
    <button class="btn btn-sm btn-outline-secondary" type="button">Add your Studio!</button>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
