
<body>

  <div class="roots">

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
      <div class="container">
        <h1> <h1>Discover & Book <strong>Music Studios</strong>!</h1></h1>
        <p>The largest & most trusted online community to rent music studios.</p>
        <%= link_to studios_path do %>
          <button class="btn btn-flat">Get Started</button>
        <% end %>
      </div>
    </div>


    <div class="container">

      <div class="title">
      <h2>How it works</h2>
      </div>

      <div class="card-deck">
        <div class="card">
          <img src="https://source.unsplash.com/FJYpEIcoWBk" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Login</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>

        </div>
        <div class="card">
          <img src="https://source.unsplash.com/WK279Gj2G1c" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Choose a Studio</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>

        </div>
        <div class="card">
          <img src="https://source.unsplash.com/fVIpbUFPggo" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Play Music</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>

        </div>
      </div>
    </div>

   <!--  <div class="container">

      <div class="title">
        <%= link_to studios_path do %>
        <h2>Explore Studios</h2>
        <% end %>
        <p>Find studios nearby, or explore new ones around the world</p>
      </div>

      <div class="card-deck">

      <% @studios.each do |studio| %>
        <div class="card">
          <img src="https://source.unsplash.com/FGvvFv_7Epk" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= studio.title %></h5>
            <p class="card-text"><%= studio.description %></p>
          </div>
          <div class="card-footer">
            <small class="card-trip-pricing"><%= studio.price %> $ per hour</small>
          </div>
        </div>
        <% end %>
 -->

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        <a href="">About us</a>
      </div>
    </div>

  </div>

</body>

