<h1>Find the Music Studio</strong> that matches <strong>your needs</strong>!</h1>

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <% @studios.each do |studio| %>
    <div class="card-product-infos">
      <h2><%= studio.title %></h2>
      <p> <%= studio.description %></p>
      <p>Only for <%= studio.price %> € per hour.</p>
      <p>Rent by <%= studio.user.email %> in <%= studio.city %></p>
    </div>
  <% end %>
</div>

<div id='map'
style="height: 600px; width: 100%;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
map
</div>
