<h1 class="text-center">Find the Music Studio</strong> that matches <strong>your needs</strong>!</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <% @studios.each do |studio| %>
        <div class="card-product">
            <% if studio.photo.attached? %>
              <div class="studio-left-image"><%= cl_image_tag studio.photo.key, height: 300, width: 400, crop: :fit %></div>
            <% end %>
           <div class="card-product-infos">
              <%= link_to studio_path(studio) do %>
                <h2><%=studio.title %></h2>
              <% end %>
              <p>Only for <%= studio.price %> € per hour.</p>
              <p>Rent by <%= studio.user.email %> at <%= studio.address %></p>
           </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm">
      <div id='map'
      style="height: 600px; width: 100%;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      map
      </div>
    </div>
  </div>
</div>
