<main class="studio-container">

  <!-- Left Column / Headphones Image -->
  <div class="studio-left-column">
    <img src="https://source.unsplash.com/WK279Gj2G1c" />
  </div>

  <!-- Right Column -->
  <div class="studio-right-column">

    <!-- Product Description -->
    <div class="studio-description">
      <h1><%= @studio.title %></h1>
      <p><%= @studio.description %></p>
    </div>

    <!-- Product Pricing -->
    <div class="studio-price">
      <span>Only <%= @studio.price %> $</span>
      <p>The studio is located  <%= @studio.address %>  <%= @studio.zipcode %> in <%= @studio.city %> </p>
      <%= link_to new_booking_path(studio) do %>
      <button class="cart-btn">Book</button>
      <% end %>
    </div>
  </div>
</main>
