<main class="studio-container">

  <!-- Left Column / Headphones Image -->
  <div class="studio-left-column">
    <div class="container">
       <% if @studio.photo.attached? %>
          <div><%= cl_image_tag @studio.photo.key, height: 300, width: 400, crop: :fit %></div>
        <% end %>
    </div>
  </div>

  <!-- Right Column -->
  <div class="studio-right-column">

    <!-- Product Description -->
    <div class="studio-description">
      <h1><%= @studio.title %></h1>
      <p><%= @studio.description %></p>
       <% if policy(@studio).destroy? %>
        <p><%= link_to "Delete my studio", studio_path(@studio), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-danger'%></p>
      <% end %>
    </div>

    <!-- Product Pricing -->
    <div class="studio-price">
      <span>Only <%= @studio.price %> $</span>
      <p>The studio is located  <%= @studio.address %> </p>
      <%= link_to new_studio_booking_path(@studio, @booking) do %>
      <button class="btn-flat">Book</button>
      <% end %>
    </div>
  </div>
</main>

